# Laravel specific
/vendor
/node_modules
/public/storage
/storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant

# Laravel IDE Helper
.phpstorm.meta.php
/_ide_helper.php
/_ide_helper_models.php

# Laravel Telescope
/telescope

# Laravel Horizon
/horizon

# Ignoring log files and databases
*.log
*.sql
*.sqlite

# Ignoring system files
.DS_Store
Thumbs.db

# Ignoring IDE files
.idea
.vscode